@tailwind base;
@tailwind components;
@tailwind utilities;

/* export another file class */
@import url("./styles/theme.css");
@layer base {
  * {
    @apply p-0 m-0 scroll-smooth;
  }
  body {
    @apply bg-background-light;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .size-selector input[type="radio"]:checked + label {
    @apply transition-colors duration-300 border-2 border-primary-dark;
  }
}

@layer utilities {
  /* layout related styles like flex and grid */
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .icon {
    @apply size-6 text-tertiary-dark;
  }

  /* input field */
  .input-field {
    @apply w-full transition-colors duration-700 ease-in-out border border-transparent bg-background-light focus:border-primary/60 focus:outline-none;
  }

  /* button */
  .rounded-btn-with-inset-shadow {
    @apply p-1 text-2xl transition-all duration-300 ease-in-out rounded-full shadow-custom-inset hover:scale-125;
  }
  .btn-primary {
    @apply px-6 py-2 transition duration-500 ease-in-out text-background-light bg-primary hover:bg-primary-darker;
  }
  .rounded-btn-primary {
    @apply p-3 transition duration-500 ease-in-out rounded-full bg-primary hover:bg-primary-darker;
  }
  .swiper-pagination-bullet {
    @apply w-4 rounded-md duration-500 transition-all !important;
  }
  .swiper-pagination-bullet-active {
    @apply w-6 scale-125 bg-primary-darker !important;
  }
  .mySwiper {
    @apply h-[400px] lg:h-[600px] !important;
  }
  .swiper {
    @apply p-1 !important;
  }
  .rounded-next-prev-button {
    @apply transition-colors duration-300 border-2 rounded-full text-primary-dark border-primary-dark hover:bg-primary-darkist hover:text-white;
  }
  .swiper-button-next-custom,
  .swiper-button-prev-custom {
    @apply rounded-next-prev-button p-1 absolute top-1/2 -translate-y-1/2 z-10 cursor-pointer !important;
  }
}
.arrow-rotate {
  transform: rotate(145deg);
}
