@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply p-0 m-0 scroll-smooth text-background-dark;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
@layer components {
  .container {
    @apply px-[15px] md:px-20 py-4 md:py-[19.5px] mx-auto w-full;
  }
}
@layer utilities {
  /* layout related styles like flex and grid */
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-column {
    @apply flex flex-col;
  }

  .grid-center {
    @apply grid items-center justify-center;
  }
  .grid-start {
    @apply grid items-center justify-start;
  }
  .h3-bold-lg-h2-bold {
    @apply text-[17.63px] lg:text-[29.39px] leading-[24.0px] lg:leading-[40.08px] font-bold;
  }

  .h2-semibold-lg-h1-semibold {
    @apply text-3xl font-semibold lg:text-4xl;
  }
  .h3-semibold-lg-h2-semibold {
    @apply text-2xl font-semibold lg:text-3xl;
  }

  .h4-semibold-lg-h2-semibold {
    @apply text-[22px] font-semibold lg:text-[28px];
  }
  .h4-semibold {
    @apply text-xl font-semibold;
  }

  /* paragraph related styles */
  .paragraph-light {
    @apply text-sm font-light leading-[20.8px];
  }
  .paragraph-semibold {
    @apply text-sm font-semibold;
  }
  .normal-semibold {
    @apply text-[16px] font-semibold;
  }
  .normal-medium {
    @apply text-[15px] font-medium;
  }

  /* navlink */
  .nav-link {
    @apply p-2 capitalize normal-semibold;
  }
  .icon {
    @apply size-6 text-tertiary-dark;
  }

  /* input field */
  .input-field {
    @apply w-full transition-colors duration-700 ease-in-out border border-transparent bg-background-light focus:border-primary/60 focus:outline-none;
  }

  /* button */
  .rounded-btn-with-inset-shadow {
    @apply p-1 text-2xl transition-all duration-300 ease-in-out rounded-full shadow-custom-inset hover:scale-125;
  }
}
